{{define "header"}}
<header class="header" id="test">
	<img src="/Ressources/image&logo/asset page d'accueil/CYBER BOOM 2 noir.png" alt="title" href="/Home" id="title" />
	<div class="header-right">
		<a id="Home" href="/">Accueil</a>
		<a id="Jouer" href="/jeu">Jeu</a>
		<a id="Lore" href="#">Lore</a>
		<a id="Règles" href="#">Règles</a>
		<a id="Personnage" href="#">Personnage</a>
		<a id="Apropos" href="/informations">A propos </a>
		<img src="/Ressources/image&logo/asset page d'accueil/Logo de╠üclinaison blanc.png" alt="logo" id="logo"/>
	</div>
</header>
{{end}}